[user]
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCWpbRu9fV/jlm3YTZYBncFtlSkzt9FpWMiP+gymKNGOOCIp5hNZ46f81hCWf/pubu89g6iigZgjobueTWUWg4jHP945KwKi4E/MgyAM9Kvy60bzxqBIoyXwNZa/rspsARf5H+1PGNsCqXfmAeIsYhgD7Je6f5cqWWuDQzJpQ/DSxGdREgXXA5H0HjkAOG/S1wPfv0JXspoaK5K2gF6dKk5fJNEGX0bg+p2bUPGuLdeZKWbC17YZ2hRsy9EV85ezgNGJInieHSUCkjJ4zjHhYWVRi2LJe8pBz4GyDzPhIcUNGgUlkaBQYSdAeYI+jTwNQSH4VqICHvwhafViHF5GEYEH7BQedKtEPQneHOYJ7qGEKH+t25AGYkuosjuUNLWDR+i8NjzVEwlufsniUWYu2penNa0AtE8wtqjSQYolKj0x05V0y2UaZB90T53zkflZDCLZHE1xcT8zOI1/B4fybwnY5CBasG6qnp6kgGyhBfuGvAjpKK4Fvk8GYll5zEaA4SyXUu6XelSRDo+2lCWmWsGKlNNxPrjMzxBtGnLYo9gYQefkSz5DjdBbPt7krxZSW/wutvUQISmv/Euo/gVIRJiaUcj68Ez8Xya5jts/D9zOGRdCmwyVgvMxq382p9kBAGTHr+EX2VFNKK1VVOHK0UVkyUKWk8q35Sz8qamgNZI9Q==
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
